/* $Id: translation-table-admin-rtl.css,v 1.2 2010/08/13 14:25:09 drifter Exp $ */

#translation-table-filter .translation-table-filter {
  margin-right: 30px;
  float: right;
}

#translation-table-filter #translation-table-languages-selected-filter {
  margin-right: 0;
}
